:root{
    --cor-primaria: rgb(0, 238, 255);
    --cor-secundaria: #000;
    --cor-terciaria: #fff;
    --cor-quartenaria: #808080;
}

hr{
    margin-top: 20px;
    margin-bottom: 10px;
    border-color: var(--cor-secundaria);
}

.experiencia__container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: var(--cor-primaria);
}

.dados-texto{
    margin-top: 30px;
}
.experiencia__context{
    width: 1040px;
    height: 600px;
    padding: 25px;
    border-radius: 20px;
    background-color: var(--cor-secundaria);
    box-shadow: 0 0 20px 0 var(--cor-secundaria);
    border: 3px solid var(--cor-primaria);
}

#leiaMaisEx span{
    color: var(--cor-primaria);
}
#verMais{
    display: none;
}

.experiencia__context h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;
    color: var(--cor-primaria);
}

#experiencia p{
    color: var(--cor-quartenaria);
    font-size: 16px;
    margin-bottom: 10px;
}

#experiencia p a{
    color: var(--cor-terciaria);
}

#experiencia p span{
    color: var(--cor-primaria);
    font-size: 20px;
    font-weight: 600;
}

.experiencia__context > .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 980px;
}

.experiencia__context > .buttons > .voltar > img{
    display: flexbox;
    width: 50px;
    transition: 0.2s ease-in-out;
}

.experiencia__context > .buttons > .voltar > img:hover{
    transform: scale(1.1);
}
